flow_lops.json
[
    {
        "id": "80962245.14abd8",
        "type": "tab",
        "label": "LOPS 2.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cbdf4d14.16c78",
        "type": "http in",
        "z": "80962245.14abd8",
        "name": "",
        "url": "/lops",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "14add112.53448f"
            ]
        ]
    },
    {
        "id": "cf41a3d8.22ea38",
        "type": "template",
        "z": "80962245.14abd8",
        "name": "Webantwort",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "scan: {{req.query.scan}}\\n\nfunc: {{payload}}\\n",
        "output": "str",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "fc0ac746.4aa8a8"
            ]
        ]
    },
    {
        "id": "fc0ac746.4aa8a8",
        "type": "http response",
        "z": "80962245.14abd8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "2bc0e33.351921c",
        "type": "switch",
        "z": "80962245.14abd8",
        "name": "Fkt. wählen",
        "property": "req.query.scan",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "[\\d]+\\-[\\d]+",
                "vt": "str",
                "case": false
            },
            {
                "t": "eq",
                "v": "4321",
                "vt": "num"
            },
            {
                "t": "regex",
                "v": ".*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "7c99ed33.0c6074"
            ],
            [
                "b368c67c.0d741"
            ],
            [
                "f4e9ad97.925d48"
            ]
        ]
    },
    {
        "id": "7c99ed33.0c6074",
        "type": "change",
        "z": "80962245.14abd8",
        "name": "Artikel merken",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Artikel merken",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "cf41a3d8.22ea38",
                "c336bd39.63204"
            ]
        ]
    },
    {
        "id": "b368c67c.0d741",
        "type": "change",
        "z": "80962245.14abd8",
        "name": "E-Mail senden",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "E-Mail senden",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "cf41a3d8.22ea38",
                "45cd3bdb.22dff4"
            ]
        ]
    },
    {
        "id": "f4e9ad97.925d48",
        "type": "change",
        "z": "80962245.14abd8",
        "name": "keine Aktion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "keine Aktion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "cf41a3d8.22ea38"
            ]
        ]
    },
    {
        "id": "35066907.7ed8e6",
        "type": "comment",
        "z": "80962245.14abd8",
        "name": "Aufruf durch Scanner",
        "info": "Scanner-Skript lauscht auf Tastatureingabe \nund ruft über curl den LOPS auf.",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "1d74d5e6.d0df52",
        "type": "file",
        "z": "80962245.14abd8",
        "name": "",
        "filename": "/tmp/lops_input.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "dfe6c5b8.f2ae6",
        "type": "e-mail",
        "z": "80962245.14abd8",
        "server": "172.16.8.109",
        "port": "25",
        "secure": false,
        "name": "",
        "dname": "Postausgang",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "e4aa1aaf.f70f6",
        "type": "file in",
        "z": "80962245.14abd8",
        "name": "Datei lesen",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "d951a09b.8cb698"
            ]
        ]
    },
    {
        "id": "c336bd39.63204",
        "type": "change",
        "z": "80962245.14abd8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "req.query.scan",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "1d74d5e6.d0df52"
            ]
        ]
    },
    {
        "id": "7541402e.6b5ce",
        "type": "catch",
        "z": "80962245.14abd8",
        "name": "",
        "scope": [
            "dfe6c5b8.f2ae6"
        ],
        "x": 80,
        "y": 700,
        "wires": [
            [
                "a1e64a92.e342"
            ]
        ]
    },
    {
        "id": "a1e64a92.e342",
        "type": "change",
        "z": "80962245.14abd8",
        "name": "Error Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 700,
        "wires": [
            [
                "71b868b9.9fab58"
            ]
        ]
    },
    {
        "id": "71b868b9.9fab58",
        "type": "debug",
        "z": "80962245.14abd8",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "error.message",
        "x": 520,
        "y": 700,
        "wires": []
    },
    {
        "id": "2ce65790.46b05",
        "type": "status",
        "z": "80962245.14abd8",
        "name": "",
        "scope": [
            "dfe6c5b8.f2ae6"
        ],
        "x": 80,
        "y": 620,
        "wires": [
            [
                "cc3db5aa.ce5ce"
            ]
        ]
    },
    {
        "id": "d951a09b.8cb698",
        "type": "change",
        "z": "80962245.14abd8",
        "name": "Empfänger",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "maik.boettcher@bur-handel.de",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cc",
                "pt": "msg",
                "to": "besteller@demo.de",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "lops_email_file",
                "pt": "flow",
                "to": "lops_email_file",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 420,
        "wires": [
            [
                "dfe6c5b8.f2ae6"
            ]
        ]
    },
    {
        "id": "cc3db5aa.ce5ce",
        "type": "fs-ops-delete",
        "z": "80962245.14abd8",
        "name": "",
        "path": "/tmp",
        "pathType": "str",
        "filename": "lops_email_file",
        "filenameType": "flow",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "620f8c7e.2bd24c"
            ]
        ]
    },
    {
        "id": "45cd3bdb.22dff4",
        "type": "fs-ops-move",
        "z": "80962245.14abd8",
        "name": "",
        "sourcePath": "/tmp",
        "sourcePathType": "str",
        "sourceFilename": "lops_input.txt",
        "sourceFilenameType": "str",
        "destPath": "/tmp",
        "destPathType": "str",
        "destFilename": "lops_email_file",
        "destFilenameType": "msg",
        "link": false,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "e4aa1aaf.f70f6"
            ]
        ]
    },
    {
        "id": "6ccf43eb.5fe13c",
        "type": "debug",
        "z": "80962245.14abd8",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 640,
        "y": 620,
        "wires": []
    },
    {
        "id": "620f8c7e.2bd24c",
        "type": "template",
        "z": "80962245.14abd8",
        "name": "Erfolgsmeldung",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "deleted: {{flow.lops_email_file}}",
        "output": "str",
        "x": 440,
        "y": 620,
        "wires": [
            [
                "6ccf43eb.5fe13c"
            ]
        ]
    },
    {
        "id": "14add112.53448f",
        "type": "function",
        "z": "80962245.14abd8",
        "name": "LOPS-Key erzeugen",
        "func": "// eine Zahl mit führenden Nullen liefern\n//    x = eine Zahl\n//    l = Länge mit Nullen\nvar f = function(x, l) {\n    var str = \"0000\" + x;\n    var idx = str.length - l;\n    return str.substr(idx, l);\n};\n\nvar d = new Date();\nvar k = f(d.getFullYear(), 2) + \"\" + f((d.getMonth()+1), 2) + \"\" + f(d.getDate(), 2);\nk += \"_\" + f(d.getHours(), 2) + \"\" + f(d.getMinutes(), 2) + \"\" + f(d.getSeconds(), 2);\nk += \"_\" + f(d.getMilliseconds(), 3);\n\nmsg.lops_key = k;\nmsg.lops_email_file = \"lops_email_\" + k + \".txt\";\nmsg.filename = \"/tmp/lops_email_\" + k + \".txt\";\n\nnode.status({fill:\"gray\",shape:\"dot\",text:msg.lops_key});\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "2bc0e33.351921c"
            ]
        ]
    },
    {
        "id": "7ecab3be.9d902c",
        "type": "change",
        "z": "80962245.14abd8",
        "name": "eine Artikelnummer",
        "rules": [
            {
                "t": "set",
                "p": "req.query.scan",
                "pt": "msg",
                "to": "1234-5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "14add112.53448f"
            ]
        ]
    },
    {
        "id": "fa66c1c2.6aaae",
        "type": "inject",
        "z": "80962245.14abd8",
        "name": "Artikel aufrufen",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "7ecab3be.9d902c"
            ]
        ]
    },
    {
        "id": "e5441884.b1db8",
        "type": "inject",
        "z": "80962245.14abd8",
        "name": "E-Mail senden",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "5cc4e124.ff8a88"
            ]
        ]
    },
    {
        "id": "5cc4e124.ff8a88",
        "type": "change",
        "z": "80962245.14abd8",
        "name": "ein Funktionscode",
        "rules": [
            {
                "t": "set",
                "p": "req.query.scan",
                "pt": "msg",
                "to": "4321",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "14add112.53448f"
            ]
        ]
    },
    {
        "id": "9f7c7bc9.c49c4",
        "type": "comment",
        "z": "80962245.14abd8",
        "name": "Aufruf zum Testen",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "f5235bc7.3cc5a",
        "type": "http in",
        "z": "80962245.14abd8",
        "name": "",
        "url": "/files",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 480,
        "y": 780,
        "wires": [
            [
                "c2f0e49b.e56538"
            ]
        ]
    },
    {
        "id": "b6fa1eb4.4ef0f",
        "type": "template",
        "z": "80962245.14abd8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{files}} !",
        "output": "str",
        "x": 800,
        "y": 780,
        "wires": [
            [
                "172d57dd.5b39a"
            ]
        ]
    },
    {
        "id": "172d57dd.5b39a",
        "type": "http response",
        "z": "80962245.14abd8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 960,
        "y": 780,
        "wires": []
    },
    {
        "id": "c2f0e49b.e56538",
        "type": "fs-ops-dir",
        "z": "80962245.14abd8",
        "name": "",
        "path": "/tmp",
        "pathType": "str",
        "filter": "lops*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 650,
        "y": 780,
        "wires": [
            [
                "b6fa1eb4.4ef0f"
            ]
        ]
    }
]